<div class="container row-space-5">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">通知一覧</div>
      <div class="panel-body">
        <div class="container" id="notifications">
          <%= render @notifications %>
        </div>
      </div>
    </div>
  </div>
</div>
