<div class="row">
  <div class="col-md-3">
    <%= render 'user_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        お気に入り
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @user do |f| %>

            <div class="row">
              <div class="form-group">
                <label>自己紹介コメント</label>
                <%= f.text_area :description, rows: 7,  placeholder: "プロフィールに載せる自己紹介コメントを入力...", class: "form-control", required: true %>
              </div>
            </div>

            <div class="text-center">
              <%= f.submit "保存", class: "btn btn-form" %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
