<% unless %w[search search_jenre].any? { |name| current_page?(send("#{name}_path")) } %>
	<footer>
		<div class="copyright text-center">
			<p>© 2019 - All Rights Reserved</p>
		</div>
		<div class="sns text-center">
			<a href="#" class="contact">Contact</a>
			<a href="#" class="fb"><i class="fab fa-facebook-square fa-2x"></i></a>
			<a href="#" class="tw"><i class="fab fa-twitter-square fa-2x"></i></a>
			<a href="#" class="insta"><i class="fab fa-instagram fa-2x"></i></a>
		</div>
	</footer>
<% end %>
