<div class="container row-space-4">
  <div class="row">
    <div class="col-md-12 text-center">
    <!-- Title Section  -->
      <i class="fas fa-question-circle fa-3x"></i>
      <h2>BistMatchとは</h2>
      <p>食事を通じて最高の出会いを広げる<br/>マッチングサービスです!</p>
    </div>
  </div>
  <br><hr><br>

  <!-- Threecolumn Section  -->
  <div class="row">
    <div class="col-md-4">
      <h3 class="row-space-3">BistMatchを利用する理由</h3>
      <p>一見お断り、予約困難な人気店など、どんな飲食店やレストランでも簡単にシェアをでき、
        日本中の食事好きの仲間とつながれます。予約可能日から料金、利用ルール、場所、参加人数まで、全てホストが自分で決めることが出来ます。</p>
    </div>
    <div class="col-md-4">
      <h3 class="row-space-3">BistMatchの仕組み</h3>
      <p>シェアしたいお店、場所での食事の体験をホストが食事プランとして公開し、ユーザーに利用機会を提供します。
        ユーザーは目的に応じて、参加したい食事プランに参加希望をして、ホストから承認を受けることでその食事プランに参加することが出来ます。</p>
    </div>

    <div class="col-md-4">
      <h3 class="row-space-3">BistMatchの特徴</h3>
      <p>サイト内で安全かつ簡単に全てのやりとりが完結するように、サイト内にチャット機能やクレジットカードによる決済機能、
          プランのホストと参加者による相互のレビュー機能も備えています。また、視覚的に必要な情報が把握しやすいデザインを採用することで、ユーザーの利用体験の向上を図っています。</p>
    </div>
  </div>
  <br><hr><br>

<!-- Twocolumn Section2  -->
  <div class="row">
    <h1 class="text-center">3ステップでプランを利用しよう！</h1>
    <div class="col-md-4 row-space-3">
      <h3 class="row-space-3">1. 参加したいプランを探す</h3>
      <p>ユーザー登録が完了したら、まずは参加してみたい食事プランを探しましょう。あなたの好きなお店、都合のいい開催日、お住まいの地域に近い場所など、
          様々な条件でプランの検索を行うことが出来ます。</p>
    </div>
    <div class="col-md-4 row-space-3">
      <h3 class="row-space-3">2. プランに参加希望を出す</h3>
      <p>行きたい食事プランが見つかったら、開催日や利用ルールや料金なども確認の上、ホストに参加希望を出しましょう！ホストから承認がされれば、あなたはその食事プランに参加することが出来ます。</p>
    </div>

    <div class="col-md-4 row-space-3">
      <h3 class="row-space-3">3. プランを利用する</h3>
      <p>ホストから参加の承認が済んだら、あとはサイト内のチャット機能を利用してホストや他の参加者と連絡をとりながら最高の当日を迎えましょう！</p>
    </div>
  </div>
  <br><hr><br>


  <div class="row text-center">
    <div class="col-md-12">
      <h2>さあ、今すぐ始めよう！</h2>
      <p>登録に必要な時間は1分程度です。</p>
        <%= link_to "ログイン", new_user_session_path, class: 'btn btn-form' %>
        <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-normal' %>
    </div>
  </div>




</div>
