<% if @photos.length > 0 %>

  <br/><br/>
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading preview">
            <%= attachment_image_tag photo, :image, :fill, 80, 80  %>
          </div>
          <div class="panel-body">
            <span class="pull-right">
              <%= link_to plan_photo_path(photo.plan_id, photo), remote: true, method: :delete, data: {confirm: "本当に削除しますか?"} do %>
                <i class="fas fa-trash fa-lg" aria-hidden="true"></i>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% else %>

  <div class="text-center row-space-3">
      <h4>投稿画像はありません</h4>
  </div>

<% end %>
