/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

body {
  color: #565a5c;
  background-color: #F8F8F8;
  font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
  color: #00A699;
}

.container {
  width: 80%;
}

.text-babu, .icon-babu {
  color: #00A699;
}

.text-red, .icon-red {
  color: #FF5A5F;
}

// NAVBARS
.navbar-default {
  background-color: #FFFFFF;
}

.navbar-default .navbar-brand {
  color: #FF5A5F;
  font-size: 2em;
  font-weight: 400;
}

// BUTTONS
.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;

    &:hover {
      color: #fff;
    }

    &:focus {
      color: #fff;
    }

    &.btn-default {
      width: 100%;
      border-color: #c4c4c4;
      background: white;
      color: #484848;
      border-radius: 2px;
      padding: 10px 0;
      margin-top: 10px;
    }

    &.btn-normal {
      border: 1px solid #ff5a5f;
      background-color: #ff5a5f;

        &:active {
          outline: none;
          border-color: #e00007;
          background-color: #e00007;
        }
    }

    &.btn-facebook {
      border: 1px solid #3B5998;
      background-color: #3B5998;

        &:active {
          outline: none;
          border-color: #2d467b;
          background-color: #2d467b;
        }
    }

    &.btn-form {
      border: 1px solid #00A699;
      background-color: #00A699;

        &:active {
          outline: none;
          border-color: #066165;
          background-color: #066165;
        }
    }

}

.btn-small {
  padding: 5px 15px;
  margin-top: 15px;
}
