/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  color: #565a5c;
  background-color: #F8F8F8;
  font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  position: relative;
  min-height: 100%;
}

#main {
  padding-bottom: 200px;
}

a {
  color: #00A699;
  border-style: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 80%;
}

.text-babu, .icon-babu {
  color: #00A699;
}

.text-red, .icon-red {
  color: #FF5A5F;
}

.pagetop-field {
	padding-bottom: 70px;
	background-color: #232530;
	height: 0.1px;
}

.top-field {
  padding-bottom: 60px;
	background-color: #232530;
	height: 0.1px;
}




// NAVBARS
.navbar {
  border-style: none;
}

.navbar-default {
  background-color: #003C59;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 2em;
  font-weight: 400;

  &:hover {
    color: #ff5a5f;
    background-color: transparent;
  }

  &:focus {
    color: #ff5a5f;
    background-color: transparent;
  }
}

.navbar-default .navbar-nav > li > a {
  color: white;

    &:hover {
      color: #ff5a5f;
      background-color: transparent;
    }

    &:focus {
      color: #ff5a5f;
      background-color: transparent;
    }
}


// TAGS

// タグデザイン
.cp_tag01 {
	list-style: none;
	margin: 0;
	overflow: hidden;
  padding: 0;
}
.cp_tag01 li {
	display: inline-block;
}
.cp_tag01 a {
	line-height: 20px;
	position: relative;
	display: inline-block;
	height: 20px;
	margin: 0 10px 10px 0;
	padding: 0 20px 0 23px;
	-webkit-transition: color 0.2s;
	        transition: color 0.2s;
	text-decoration: none;
	color: #455a64;
	border-radius: 3px 0 0 3px;
	background: #cfd8dc;
}
.cp_tag01 a::before, .cp_tag01 a::after {
	background: #fafcfc;/*背景色*/
}
.cp_tag01 a::before {
	position: absolute;
	top: 8px;
	left: 10px;
	width: 6px;
	height: 6px;
	content: '';
	border-radius: 10px;
}
.cp_tag01 a::after {
	position: absolute;
	top: -3px;
	right: -6px;
	width: 0;
	height: 0;
	content: '';
	border-width: 15px 0 10px 8px;
	border-style: solid;
	border-color: transparent transparent transparent #cfd8dc;
	border-radius: 4px;
}
.cp_tag01 a:hover {
	color: #ffffff;
	background-color: #00B3C4;
}
.cp_tag01 a:hover::after {
	border-left-color:#00B3C4;
}

// BUTTONS
.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;

    &:hover {
      color: #fff;
    }

    &:focus {
      color: #fff;
    }

    &.btn-default {
      width: 100%;
      border-color: #c4c4c4;
      background: white;
      color: #484848;
      border-radius: 2px;
      padding: 10px 0;
      margin-top: 10px;
    }

    &.btn-normal {
      border: 1px solid #FF5A5F;
      background-color: #FF5A5F;


        &:active {
          outline: none;
          border-color: #FF5A5F;
          background-color: #FF5A5F;
        }
    }

    &.btn-facebook {
      border: 1px solid #3B5998;
      background-color: #3B5998;

        &:active {
          outline: none;
          border-color: #2d467b;
          background-color: #2d467b;
        }
    }

    &.btn-test {
      border: 1px solid #3B5998;
      background-color: #3B5998;
    }

    &.btn-test:active {
      outline: none;
      border-color: #3B5998;
      background-color: #3B5998;
    }

    &.btn-form {
      border: 1px solid #00B3C4;
      background-color: #00B3C4;

        &:active {
          outline: none;
          border-color: #232530;
          background-color: #232530;
        }
    }

}

.btn-small {
  padding: 5px 14px;
  margin-top: 15px;
}

.btn-border {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #FF5A5F;
  font-size: 16px;
  color: #FF5A5F;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border:hover  {
  background-color: #FF5A5F;
  border-color: #FF5A5F;
  color: #FFF;
}

// PANELS
.panel-default .panel-heading {
  color: #ffffff;
  background-color: #00B3C4;
  font-size: 18px;
  font-weight: 400;
}

.panel .panel-heading {
  color: #ffffff;
  background-color: #00B3C4;
  font-size: 18px;
  font-weight: 400;
}

.panel-body {
  box-shadow: 0 5px 10px #ccc;
}

.panel-heading.preview {
  padding: 0;
}

.panel-heading.preview img {
  width: 100%;
}

.text-adjust {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 70px;
}

.bottom-space {
  padding-bottom: 250px;
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.row-space-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.row-space-5 {
  margin-top: 100px;
  margin-bottom: 40px;
}

.row-space-6 {
  margin-top: 70px;
  margin-bottom: 40px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}


// FORMS
.form-group {
  margin-bottom: 25px;

    input {
      height: 45px;
      border: 1px solid #00B3C4;
    }

    textarea {
      border: 1px solid #00B3C4;
    }

    select {
      width: 100%;
      color: #565a5c;
      background-color: white;
      border: 1px solid #00B3C4;
      border-radius: 2px;
      padding: 10px;
      appearance: none;

        &:before {
          content: '\25bc';
          font-size: 1.2em;
          position: absolute;
          color: #00B3C4;
          top: 35px;
          right: 30px;
          transform: scale(0.94, 0.62);
        }
    }

    input[type="checkbox"] {
      height: 1.25em;
      width: 1.25em;
      margin-bottom: -0.25em;
      margin-right: 5px;
      vertical-align: top;
      border: 1px solid #00B3C4;
      border-radius: 2px;
      appearance: none;
    }
}

.form-control {
  border-radius: 2px;
  height: 4rem;
}

.form-group input[type="checkbox"]:checked:before {
  content: '\2713';
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: #00B3C4;
}


// SIDEBAR
.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;

    &:hover {
      color: #CACCCD;
      text-decoration: none;
    }

    &:focus {
      color: #CACCCD;
      text-decoration: none;
    }
}


.active.sidebar-link {
  color: #565A5C;
  font-weight: bold;
  text-decoration: none;
}

// PHOTO UPLOAD
.btn-file {
  position: relative;
  overflow: hidden;

    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }

    img {

      object-fit: cover;
    }
}

.image-wrapper {
  text-align: center;
}

// PlAN INFOMATION SHOW

.image_size {
  width: 100%;
}

.side-space-1 {
  margin-right: 15px;
}

.plan-info li {
  margin-bottom: 10px;
  list-style-type: none;
}

.user-info li {
  margin-bottom: 4px;
  list-style-type: none;
}

//  TOP PAGE

.bg {
  background-image: url("https://picjumbo.com/wp-content/uploads/san-francisco-at-night-2210x1474.jpg");    /* 背景画像指定 */
  background-size: cover;
  height: 800px;
  position: relative;
}

.bg-text1 {
  position: absolute;
  top: 320px;
  left: 140px;
  color: #fff;
  font-weight: 300;
  font-size: 30px;
}

.bg-text2 {
  position: absolute;
  top: 370px;
  left: 140px;
  color: #fff;
  font-weight: 300;
  font-size: 30px;
}

.search-form {
  position: absolute;
  top: 450px;
  left: 380px;
}

.search-bt {
  position: absolute;
  top: 580px;
  left: 50px;
  width: 350px;
}

.discovery-card1 {
  background-image: url("https://www.pakutaso.com/shared/img/thumb/COW121000645_TP_V.jpg");
  height: 200px;
  background-size: cover;
  border-radius: 20%;
}

.discovery-card2 {
  background-image: url("https://www.pakutaso.com/shared/img/thumb/PAKSHIBUYA0I9A6246_TP_V.jpg");
  height: 200px;
  background-size: cover;
  border-radius: 20%;
}

.discovery-card3 {
  background-image: url("https://www.pakutaso.com/shared/img/thumb/roppongi0720IMGL7359_TP_V.jpg");
  height: 200px;
  background-size: cover;
  border-radius: 20%;
}

.discovery-card4 {
  background-image: url("https://www.pakutaso.com/shared/img/thumb/tokyoIMGL3336_TP_V.jpg");
  height: 200px;
  background-size: cover;
  border-radius: 20%;
}

.jenre-card1 {
  background-image: url("https://www.pakutaso.com/shared/img/thumb/sushiFTHG0977_TP_V.jpg");
  height: 200px;
  background-size: cover;
  border-radius: 20%;
}

.jenre-card2 {
  background-image: url("https://www.pakutaso.com/shared/img/thumb/YAMA_DSC0742_TP_V.jpg");
  height: 200px;
  background-size: cover;
  border-radius: 20%;
}

.jenre-card3 {
  background-image: url("https://tblg.k-img.com/resize/660x370c/restaurant/images/Rvw/47347/47347655.jpg?token=cbac692&api=v2");
  height: 200px;
  background-size: cover;
  border-radius: 20%;
}

.jenre-card4 {
  background-image: url("https://sakata-kankou.com/image/rendering/feature_image/49/trim.1200/1200/500");
  height: 200px;
  background-size: cover;
  border-radius: 20%;
}

// SEARCH
#main {
  height: 100%;
  overflow: hidden;
}

#left {
  padding: 10px 400px 10px 20px;
  overflow: scroll;
  height: 100%;
}

#right {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
}

.map_price {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #00B3C4;
}

.form-control.datepicker {
  color: #00B3C4;
  background-color: white;
  border: 1px solid #00B3C4;
  text-align: center;
}

// Stripe Payment Form

.badge {
  background-color: #FF5A5F;
  position: relative;
  top: -15px;
  left: -5px;
}

#add-card form {
  width: 480px;
  margin: 20px auto;
}

#add-card label {
  position: relative;
  color: #6A7C94;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  display: block;
}

#add-card label > span {
  float: left;
}

.field {
  background: white;
  box-sizing: border-box;
  font-weight: 400;
  border: 1px solid #CFD7DF;
  border-radius: 24px;
  color: #32315E;
  outline: none;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  cursor: text;
  width: 76%;
  float: right;
}

.field::-webkit-input-placeholder { color: #CFD7DF; }
.field::-moz-placeholder { color: #CFD7DF; }
.field:-ms-input-placeholder { color: #CFD7DF; }

.field:focus,
.field.StripeElement--focus {
  border-color: #FF5A5F;
}

#add-card button {
  float: left;
  display: block;
  background-image: linear-gradient(-180deg, #FF5A5F 0%, #FF5A5F 100%);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), inset 0 -1px 0 0 #FF5A5F;
  color: white;
  border-radius: 24px;
  border: 0;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  height: 48px;
  line-height: 48px;
  outline: none;
}

#add-card button:focus {
  background: #FF5A5F;
}

#add-card button:active {
  background: #FF5A5F;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

// CHAT ROOM

.primary {
  background-color: #e0ffff;
}

// LINE CHAT MESSAGE

.line-bc {
  padding: 20px 10px;
  max-width: 800px;
  height: 700px;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #fff;
  box-shadow: 0 5px 7px #ccc;
  overflow: scroll;
  border-radius: 8px;
}


.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon6 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}


.mycomment {
  margin: 10px 0;
  color: white;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #00d1b2;
  font-size: 15px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #00d1b2;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.chatbox{
  width: 740px;
  position:relative;
  background-color:#f3f3f3;
  border:1px solid 	#FFFFF0;
  border-radius:6px;
  display: block;
  box-shadow: 0 5px 7px #ccc;
  border-radius: 10px;
}

.message-box {
  width:80%;
  height:50px;
  line-height:50px;
  background:#fff;
  border:none;
  display: block;
  border-radius: 6px 0 0 6px;
}

.chat-submit {
  position:absolute;
  top:0px;
  right:0px;
  width:20%;
  background:#00B3C4;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}

#Fixed-form {
  position: fixed;
  left: 530px;
  bottom: 10px;
}

// Footer

footer {
  background-color: #003C59;
  color: white;
  width: 100%;
  height: 100px;
  margin-top: 100px;
}

.copyright {
  padding-top: 20px;
}

.fa-facebook-square {
  color: white;
}

.fa-twitter-square {
  color: white;
}

.fa-instagram {
  color: white;
}

.contact {
  color: white;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
      padding-top: 17px;
      padding-bottom: 15px;
  }
}
